<{extends file="common/layout.html"}>
<{block name="content"}>
<div class="aw-header">
  <button class="btn btn-sm mod-head-btn pull-left">
    <i class="icon icon-bar"></i>
  </button>

  <div class="mod-header-user">
    <ul class="pull-right">
      <li class="dropdown username">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">
          <img width="30" class="img-circle" src="../static/common/avatar-mid-img.png">
          xiangshi
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu pull-right mod-user">
          <li>
            <a target="_blank" href="">
              <i class="icon icon-user"></i>
              account
            </a>
          </li>

          <li>
            <a href="login.html">
              <i class="icon icon-logout"></i>
              log out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="aw-side" class="aw-side ps-container">
  <div class="mod">
    <div class="mod-logo">
      <img alt="" src="../static/admin/img/logo.png" class="pull-left">
      <h1>q-and-a</h1>
    </div>

    <div class="mod-message">
      <div class="message">
        <a title="home" target="_blank" href="../index.html" class="btn btn-sm">
          <i class="icon icon-home"></i>
        </a>

        <a title="log out" href="login.html" class="btn btn-sm">
          <i class="icon icon-logout"></i>
        </a>
      </div>
    </div>

    <ul class="mod-bar">
      <input type="hidden" val="0" id="hide_values">
      <li>
        <a class="icon icon-ul" href="index.html">
          <span>home</span>
        </a>
      </li>

      <li>
        <a data="icon" class=" icon icon-reply active" href="javascript:;">
          <span>content mngmt</span>
        </a>

        <ul class="hide" style="display: block;">
          <li>
            <a class="active" href="category.html">
              <span>category mngmt</span>
            </a>
          </li>
          <li>
            <a href="question.html">
              <span>question mngmt</span>
            </a>
          </li>
          <li>
            <a href="topic.html">
              <span>topic mngmt</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a data="icon" class=" icon icon-user" href="javascript:;">
          <span>user mngmt</span>
        </a>

        <ul class="hide">
          <li>
            <a href="user.html">
              <span>user list</span>
            </a>
          </li>
          <li>
            <a href="role.html">
              <span>user role</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a data="icon" class="icon icon-setting" href="javascript:;">
          <span>global config</span>
        </a>

        <ul class="hide">
          <li>
            <a href="site.html">
              <span>site info</span>
            </a>
          </li>
          <li>
            <a href="regedit.html">
              <span>register</span>
            </a>
          </li>
          <li>
            <a href="mail.html">
              <span>mail</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a data="icon" class=" icon icon-job" href="javascript:;">
          <span>tools</span>
        </a>

        <ul class="hide">
          <li>
            <a href="tool.html">
              <span>system maintenance</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="ps-scrollbar-x-rail" style="width: 235px; display: none; left: 0px; bottom: 3px;">
    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
  </div>
  <div class="ps-scrollbar-y-rail" style="top: 0px; height: 607px; display: inherit; right: 0px;">
    <div class="ps-scrollbar-y" style="top: 0px; height: 560px;"></div>
  </div>
</div>

<div class="aw-content-wrap">
  <form method="post" id="category_form" enctype="multipart/form-data"
        action="?m=admin&c=category&a=addHandleAction">
    <div class="mod">
      <div class="mod-head">
        <h3>
          <span class="pull-left">add category</span>
        </h3>
      </div>
      <div class="tab-content mod-content">
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>
              <div class="form-group">
                <span class="col-sm-4 col-xs-3 control-label">category name:</span>
                <div class="col-sm-5 col-xs-8">
                  <input type="text" name="cat_name" class="form-control">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <span class="col-sm-4 col-xs-3 control-label">category desc:</span>
                <div class="col-sm-5 col-xs-8">
                  <input type="text" name="cat_desc" class="form-control">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <span class="col-sm-4 col-xs-3 control-label">category logo:</span>
                <div class="col-sm-5 col-xs-8">
                  <input type="file" value="default cat" name="cat_logo" class="form-control">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <span class="col-sm-4 col-xs-3 control-label">parent category:</span>
                <div class="col-sm-5 col-xs-8">
                  <select class="form-control" name="parent_id">
                    <option value="0">n/a</option>
                  </select>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td>
              <input type="submit" class="btn btn-primary center-block" value="add">
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </form>
</div>


<div class="aw-footer">
  <p>
    Copyright &copy; 2019-2020 - Powered By
    <a target="blank" href="http://xiangshisun.com/">Xiangshi 1.0</a>
  </p>
</div>

<{/block}>